<section class="content-header">
<!-- 	<h1>车载定位器添加</h1> -->
	<b style="font-size:20px">车载定位器添加</b>
</section>
<section class="content">
	<div style="padding-top: 0px">
		<form action="" style="width:1100px">
			<div class="form-group">
			  <label class="col-sm-2 control-label" style="margin-left: 250px">车载定位器编号:</label>
			  <div class="col-sm-2">
			  	<input required="required" ng-model="local.numberDef" style="width:100%" type="text" class="form-control" id="inputSuccess1">
			  </div>
			</div>
			<br/><br/><br/>
			<div class="form-group">
			  <label class="col-sm-2 control-label" style="margin-left: 250px">静止时上报时间间隔:</label>
			  <div class="col-sm-2">
			  	<input value="10" style="width:100%" type="text" class="form-control" id="inputWarning1" readonly="readonly">
			  </div>
			  <label class="col-sm-0">秒</label>
			</div>
			<br/>
			<div class="form-group">
			  <label class="col-sm-2 control-label" style="margin-left: 250px">运行时上报时间间隔:</label>
			  <div class="col-sm-2">
			  	<input value="43200" style="width:100%" type="text" class="form-control" id="inputError1" readonly="readonly">
			  </div>
			  <label class="col-sm-0">秒</label>
			</div>
			<br/>
			<div class="form-group">
			  <label class="col-sm-2 control-label" style="margin-left: 250px">GPS超时时间:</label>
			  <div class="col-sm-2">
			  	<input value="180" style="width:100%" type="text" class="form-control" id="inputError1" readonly="readonly">
			  </div>
			  <label class="col-sm-0">秒</label>
			</div>
			<br/>
			<div class="form-group">
			  <label class="col-sm-2 control-label" style="margin-left: 250px">LoRa进入休眠时间:</label>
			  <div class="col-sm-2">
			  	<input value="3" style="width:100%" type="text" class="form-control" id="inputError1" readonly="readonly">
			  </div>
			  <label class="col-sm-0">秒</label>
			</div>
			<br/>
			<div class="form-group">
			  <label class="col-sm-2 control-label" style="margin-left: 250px">有效iBeacon数量:</label>
			  <div class="col-sm-2">
			  	<input value="3" style="width:100%" type="text" class="form-control" id="inputError1" readonly="readonly">
			  </div>
			  <label class="col-sm-0">秒</label>
			</div>
			<br/>
			<div class="form-group">
			  <label class="col-sm-2 control-label" style="margin-left: 250px">iBeacon超时时间:</label>
			  <div class="col-sm-2">
			  	<input value="10" style="width:100%" type="text" class="form-control" id="inputError1" readonly="readonly">
			  </div>
			</div>
			<br/><br/>
			<div class="form-group">
				<label class="col-sm-2 control-label" style="margin-left:130px"></label>
				<div class="col-sm-1">
					<label class="checkbox-inline">
						<button ng-click="addLocal()" style="width:200%" type="button" class="btn btn-success">添加</button>
					</label>
				</div>
				<div class="col-sm-1">
					<label class="checkbox-inline">
						<a ui-sref="local"><button style="width:200%" type="button" class="btn btn-danger">取消</button></a>
					</label>
				</div>
			</div>
<!-- 			<div> -->
<!-- 				<button ng-click="addLocal()" style="width:30%" type="button" class="btn btn-success">添加</button> -->
<!-- 			</div> -->
			
	<!-- 		<div class="has-success"> -->
	<!-- 		  <div class="checkbox"> -->
	<!-- 		    <label class="custom-checkbox"> -->
	<!-- 		      <input type="checkbox" id="checkboxSuccess" value="option1"> -->
	<!-- 		      <span>Checkbox with success</span> -->
	<!-- 		    </label> -->
	<!-- 		  </div> -->
	<!-- 		</div> -->
	<!-- 		<div class="has-warning"> -->
	<!-- 		  <div class="checkbox"> -->
	<!-- 		    <label class="custom-checkbox"> -->
	<!-- 		      <input type="checkbox" id="checkboxWarning" value="option1"> -->
	<!-- 		      <span>Checkbox with warning</span> -->
	<!-- 		    </label> -->
	<!-- 		  </div> -->
	<!-- 		</div> -->
	<!-- 		<div class="has-error"> -->
	<!-- 		  <div class="checkbox"> -->
	<!-- 		    <label class="custom-checkbox"> -->
	<!-- 		      <input type="checkbox" id="checkboxError" value="option1"> -->
	<!-- 		      <span>Checkbox with error</span> -->
	<!-- 		    </label> -->
	<!-- 		  </div> -->
	<!-- 		</div> -->
			
	<!-- 		<div class="form-group has-success has-feedback"> -->
	<!-- 		  <label class="control-label" for="inputSuccess2">Input with success</label> -->
	<!-- 		  <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status"> -->
	<!-- 		  <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true"></i> -->
	<!-- 		  <span id="inputSuccess2Status" class="sr-only">(success)</span> -->
	<!-- 		</div> -->
	<!-- 		<div class="form-group has-warning has-feedback"> -->
	<!-- 		  <label class="control-label" for="inputWarning2">Input with warning</label> -->
	<!-- 		  <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status"> -->
	<!-- 		  <i class="ion-alert-circled form-control-feedback" aria-hidden="true"></i> -->
	<!-- 		  <span id="inputWarning2Status" class="sr-only">(warning)</span> -->
	<!-- 		</div> -->
	<!-- 		<div class="form-group has-error has-feedback"> -->
	<!-- 		  <label class="control-label" for="inputError2">Input with error</label> -->
	<!-- 		  <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status"> -->
	<!-- 		  <i class="ion-android-cancel form-control-feedback" aria-hidden="true"></i> -->
	<!-- 		  <span id="inputError2Status" class="sr-only">(error)</span> -->
	<!-- 		</div> -->
	<!-- 		<div class="form-group has-success has-feedback"> -->
	<!-- 		  <label class="control-label" for="inputGroupSuccess1">Input group with success</label> -->
	<!-- 		  <div class="input-group"> -->
	<!-- 		    <span class="input-group-addon addon-left">@</span> -->
	<!-- 		    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status"> -->
	<!-- 		  </div> -->
	<!-- 		  <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true"></i> -->
	<!-- 		  <span id="inputGroupSuccess1Status" class="sr-only">(success)</span> -->
	<!-- 		</div> -->
		</form>
	</div>
	
	
</section>
