<section class="content-header">
<!-- 	<h1>车载定位器信息查询</h1> -->
	<b style="font-size:20px">定位设备信息</b>
	</section>
	<section class="content">
	 <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
<!--               <h3 class="box-title">车载定位设备编号</h3> -->
              <span>车辆定位设备编号</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--               <a ui-sref="addlocal" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 添加</a> -->

              <div class="box-tools">
                <div class="input-group input-group-sm">
                  <input style="width: 150px" type="text" ng-model="local.number" name="table_search" class="form-control pull-right" placeholder="编号">

                  <div class="input-group-btn">
                    <button ng-click="getLocalInfo()" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding" ng-controller="localCtrl" style="height:410px;">
              <table class="table table-hover table1" style="text-align: center;overflow: auto;width:1500px">
                <tr>
                  <th style="border-top: 1px solid #794747"></th>
                  <th style="border-top: 1px solid #794747;text-align: center;">编号</th>
<!--                   <th>经度</TH> -->
<!--                   <TH>纬度</th> -->
                  <th style="border-top: 1px solid #794747;text-align: center;">静止时上报时间间隔(s)</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">运行时上报时间间隔(s)</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">GPS超时时间(s)</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">LoRa进入休眠时间(s)</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">有效iBeacon数量</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">iBeacon超时时间(s)</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">电量</th>
<!--                   <th>注册服务器端口</th> -->
<!--                   <th>登录服务器地址</th> -->
<!--                   <th>终端号</th> -->
                  <th style="border-top: 1px solid #794747;text-align: center;">时间</th>
<!--                   <th></th> -->
                </tr>
                <tr ng-repeat="local in locals">
                	<td style="padding: 8px">{{(indexPage-1)*10+$index+1}}</td>
<!--                 	<td><input style="width:50px" ng-model="local.number" readonly class="inactive input{{local.number}}"></td> -->
                	<td style="padding: 8px" ng-bind="local.number"></td>
<!--                 	<td>{{x.UUID}}</td> -->
<!--                 	<td>{{x.Maior}}</td> -->
<!--                 	<td>{{x.Minor}}</td> -->
<!-- 					<td ng-bind="local.log"></td> -->
<!-- 					<td ng-bind="local.lat"> -->
<!--                 	<td><input style="width:100px" ng-model="local.staticTime" readonly class="inactive input{{local.number}}"></td> -->
                	<td style="padding: 8px" ng-bind="local.staticTime"></td>
<!--                 	<td>{{x.RSSI}}</td> -->
<!--                 	<td><input style="width:100px" ng-model="local.runTime" readonly class="inactive input{{local.number}}"></td> -->
                	<td style="padding: 8px" ng-bind="local.runTime"></td>
                	<td style="padding: 8px" ng-bind="local.gpsTimeOut"></td>
                	<td style="padding: 8px" ng-bind="local.loraSleepTime"></td>
                	<td style="padding: 8px" ng-bind="local.ibeaconEffectNum"></td>
                	<td style="padding: 8px" ng-bind="local.ibeaconTimeOut"></td>
<!--                 	<td>{{x.POWER}}</td> -->
<!-- 					<td><input style="width:100px" ng-model="lora.registPort" readonly class="inactive input{{lora.number}}"></td> -->
<!-- 					<td><input style="width:100px" ng-model="lora.loginAddr" readonly class="inactive input{{lora.number}}"></td> -->
<!-- 					<td><input style="width:50px" ng-model="lora.terNum" readonly class="inactive input{{lora.number}}"></td> -->
<!-- 					<td><input style="width:150px" ng-model="local.timeStr" readonly class="inactive input{{local.number}}"></td> -->
					<td style="padding: 8px" ng-bind="local.ele"></td>
					<td style="padding: 8px" ng-bind="local.timeStr"></td>
<!--                 	<td> -->
<!--                 		<localedit class="btn btn-primary" ng-model="local" ng-show="!isShow"> -->
<!-- 				        	<span class="glyphicon glyphicon-pencil">编辑</span> -->
<!-- 				        </localedit> -->
<!-- 				        <localupdate class="btn btn-success" ng-show="isShow" ng-model="local"> -->
<!-- 				        	<span class="glyphicon glyphicon-pencil">保存</span> -->
<!-- 				        </localupdate> -->
<!-- 				        <localcancel class="btn btn-warning" ng-show="isShow" ng-model="local"> -->
<!-- 				        	<span class="glyphicon glyphicon-remove">取消</span> -->
<!-- 				        </localcancel> -->
<!-- 				        <localdelete class="btn btn-danger" ng-model="local" ng-show="!isShow"> -->
<!-- 				        	<span class="glyphicon glyphicon-trash">删除</span> -->
<!-- 				        </localdelete> -->
<!--                 	</td> -->
                </tr>
                </table>
            </div>
            
            <div class="box-tools pull-left" style="font-family:'黑体'">
            	<span class="pagination pagination-sm inline">总数:{{count}}</span>
            	
            </div>
<!--             <div class="box-tools pull-right"> -->
<!--             	<ul class="pagination pagination-sm inline"><li><a ng-click="getLocalInfoOfPage(1)">&laquo;</a></li></ul> -->
<!--                 <ul class="pagination pagination-sm inline" ng-repeat="page in pages"> -->
<!-- 					<li><a ng-click="getLocalInfoOfPage($index+1)">{{$index+1}}</a></li> -->
<!--                 </ul> -->
<!--                 <ul class="pagination pagination-sm inline"><li><a ng-click="getLocalInfoOfPage(lastPage)">&raquo;</a></li></ul> -->
<!--               </div> -->
			<div class="box-tools pull-right">
				<div id="Pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>