<section class="content-header">
      <h1>
        	绑定信息
<!--         <small>preview of simple tables</small> -->
      </h1>
<!--       <ol class="breadcrumb"> -->
<!--         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
<!--         <li><a href="#">Tables</a></li> -->
<!--         <li class="active">Simple</li> -->
<!--       </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
<!--       <div class="row"> -->
<!--         <div class="col-md-6"> -->
<!--           <div class="box"> -->
<!--             <div class="box-header with-border"> -->
<!--               <h3 class="box-title">Bordered Table</h3> -->
<!--             </div> -->
<!--             /.box-header -->
<!--             <div class="box-body"> -->
<!--               <table class="table table-bordered"> -->
<!--                 <tr> -->
<!--                   <th style="width: 10px">#</th> -->
<!--                   <th>Task</th> -->
<!--                   <th>Progress</th> -->
<!--                   <th style="width: 40px">Label</th> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>1.</td> -->
<!--                   <td>Update software</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-danger" style="width: 55%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-red">55%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>2.</td> -->
<!--                   <td>Clean database</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-yellow" style="width: 70%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-yellow">70%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>3.</td> -->
<!--                   <td>Cron job running</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-primary" style="width: 30%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-light-blue">30%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>4.</td> -->
<!--                   <td>Fix and squish bugs</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-success" style="width: 90%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-green">90%</span></td> -->
<!--                 </tr> -->
<!--               </table> -->
<!--             </div> -->
<!--             /.box-body -->
<!--             <div class="box-footer clearfix"> -->
<!--               <ul class="pagination pagination-sm no-margin pull-right"> -->
<!--                 <li><a href="#">&laquo;</a></li> -->
<!--                 <li><a href="#">1</a></li> -->
<!--                 <li><a href="#">2</a></li> -->
<!--                 <li><a href="#">3</a></li> -->
<!--                 <li><a href="#">&raquo;</a></li> -->
<!--               </ul> -->
<!--             </div> -->
<!--           </div> -->
<!--           /.box -->

<!--           <div class="box"> -->
<!--             <div class="box-header"> -->
<!--               <h3 class="box-title">Condensed Full Width Table</h3> -->
<!--             </div> -->
<!--             /.box-header -->
<!--             <div class="box-body no-padding"> -->
<!--               <table class="table table-condensed"> -->
<!--                 <tr> -->
<!--                   <th style="width: 10px">#</th> -->
<!--                   <th>Task</th> -->
<!--                   <th>Progress</th> -->
<!--                   <th style="width: 40px">Label</th> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>1.</td> -->
<!--                   <td>Update software</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-danger" style="width: 55%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-red">55%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>2.</td> -->
<!--                   <td>Clean database</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-yellow" style="width: 70%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-yellow">70%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>3.</td> -->
<!--                   <td>Cron job running</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-primary" style="width: 30%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-light-blue">30%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>4.</td> -->
<!--                   <td>Fix and squish bugs</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-success" style="width: 90%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-green">90%</span></td> -->
<!--                 </tr> -->
<!--               </table> -->
<!--             </div> -->
<!--             /.box-body -->
<!--           </div> -->
<!--           /.box -->
<!--         </div> -->
<!--         /.col -->
<!--         <div class="col-md-6"> -->
<!--           <div class="box"> -->
<!--             <div class="box-header"> -->
<!--               <h3 class="box-title">Simple Full Width Table</h3> -->

<!--               <div class="box-tools"> -->
<!--                 <ul class="pagination pagination-sm no-margin pull-right"> -->
<!--                   <li><a href="#">&laquo;</a></li> -->
<!--                   <li><a href="#">1</a></li> -->
<!--                   <li><a href="#">2</a></li> -->
<!--                   <li><a href="#">3</a></li> -->
<!--                   <li><a href="#">&raquo;</a></li> -->
<!--                 </ul> -->
<!--               </div> -->
<!--             </div> -->
<!--             /.box-header -->
<!--             <div class="box-body no-padding"> -->
<!--               <table class="table"> -->
<!--                 <tr> -->
<!--                   <th style="width: 10px">#</th> -->
<!--                   <th>Task</th> -->
<!--                   <th>Progress</th> -->
<!--                   <th style="width: 40px">Label</th> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>1.</td> -->
<!--                   <td>Update software</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-danger" style="width: 55%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-red">55%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>2.</td> -->
<!--                   <td>Clean database</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-yellow" style="width: 70%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-yellow">70%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>3.</td> -->
<!--                   <td>Cron job running</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-primary" style="width: 30%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-light-blue">30%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>4.</td> -->
<!--                   <td>Fix and squish bugs</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-success" style="width: 90%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-green">90%</span></td> -->
<!--                 </tr> -->
<!--               </table> -->
<!--             </div> -->
<!--             /.box-body -->
<!--           </div> -->
<!--           /.box -->

<!--           <div class="box"> -->
<!--             <div class="box-header"> -->
<!--               <h3 class="box-title">Striped Full Width Table</h3> -->
<!--             </div> -->
<!--             /.box-header -->
<!--             <div class="box-body no-padding"> -->
<!--               <table class="table table-striped"> -->
<!--                 <tr> -->
<!--                   <th style="width: 10px">#</th> -->
<!--                   <th>Task</th> -->
<!--                   <th>Progress</th> -->
<!--                   <th style="width: 40px">Label</th> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>1.</td> -->
<!--                   <td>Update software</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-danger" style="width: 55%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-red">55%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>2.</td> -->
<!--                   <td>Clean database</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-yellow" style="width: 70%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-yellow">70%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>3.</td> -->
<!--                   <td>Cron job running</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-primary" style="width: 30%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-light-blue">30%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>4.</td> -->
<!--                   <td>Fix and squish bugs</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-success" style="width: 90%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-green">90%</span></td> -->
<!--                 </tr> -->
<!--               </table> -->
<!--             </div> -->
<!--             /.box-body -->
<!--           </div> -->
<!--           /.box -->
<!--         </div> -->
<!--         /.col -->
<!--       </div> -->
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
<!--               <h3 class="box-title">查询信息</h3> -->
              <p/>

              <div class="">
<!-- 					<form class="class="row form-inline""> -->
<!-- 						<div class="form-group col-sm-2 col-xs-6"> -->
<!-- 						    <input type="text" ng-model="bind.equipmentNum" class="form-control" placeholder="设备编号"> -->
<!-- 						  </div> -->
<!-- 						  <div class="form-group col-sm-2 col-xs-6"> -->
<!-- 						    <input type="text" ng-model="bind.frameNum" class="form-control" placeholder="车架号"> -->
<!-- 						  </div> -->
<!-- 						  <div class="form-group col-sm-2 col-xs-6" style="margin-top:7px"> -->
<!-- 						  	<B>类型:</B>&nbsp; -->
<!-- 						  	<input type="radio" ng-model="bind.bindType" name="bindType" value="绑定"> <span>绑定</span> -->
<!-- 						  	&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- 						  	<input type="radio" ng-model="bind.bindType" name="bindType" value="解绑"> <span>解绑</span> -->
<!-- 						  </div> -->
<!-- 							<div class="pull-right"> -->
<!-- 								<button ng-click="getBindInfo()" class="btn btn-default"><i class="fa fa-search"></i></button> -->
<!-- 							</div> -->
						  
<!-- 					</form> -->
				<form class="form-inline">
              		<div class="input-group input-group-sm">
						<label class="sr-only">设备编号</label>
						<input type="text" class="form-control" ng-model="bind.equipmentNum" placeholder="设备编号">
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="input-group input-group-sm">
						<label class="sr-only">车架号</label>
						<input type="text" class="form-control" ng-model="bind.frameNum" placeholder="车架号">
					</div>
					<div class="input-group input-group-sm">
<!-- 						<label class="sr-only">开始时间</label> -->
<!-- 						<input title="开始时间" type="date" class="form-control" ng-model="ibeacon.startTimeStr"> -->
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>类型:</B>&nbsp;
					  	<input type="radio" ng-model="bind.bindType" name="bindType" value="绑定"> <span>绑定</span>
					  	&nbsp;&nbsp;&nbsp;&nbsp;
					  	<input type="radio" ng-model="bind.bindType" name="bindType" value="解绑"> <span>解绑</span>
					  	&nbsp;&nbsp;&nbsp;&nbsp;
					  	<input type="radio" ng-model="bind.bindType" name="bindType" value="" ng-checked="true"> <span>全部</span>
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					  	<input style="height: 29px" ng-model="bind.bindStartTime" id="bindStartTime" class="laydate-icon" placeholder=" 开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
						--
						<input style="height:29px" ng-model="bind.bindEndTime" id="bindEndTime" class="laydate-icon" placeholder=" 结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
					</div>
					<div class="pull-right">
						<button ng-click="getBindInfo()" class="btn btn-default"><i class="fa fa-search"></i></button>
					</div>
<!-- 					<br/><br/> -->
<!-- 					<div class="input-group input-group-sm"> -->
<!-- 						<input style="height: 29px" ng-model="bind.bindStartTime" id="bindStartTime" class="laydate-icon" placeholder=" 开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"> -->
<!-- 						-- -->
<!-- 						<input style="height:29px" ng-model="bind.bindEndTime" id="bindEndTime" class="laydate-icon" placeholder=" 结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"> -->
<!-- 					</div> -->
<!-- 					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- 					<div class="input-group input-group-sm"> -->
<!-- 						<input style="height:29px" ng-model="bind.unbindStartTime" id="unbindStartTime" class="laydate-icon" placeholder=" 解绑开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"> -->
<!-- 						-- -->
<!-- 						<input style="height:29px" ng-model="bind.unbindEndTime" id="unbindEndTime" class="laydate-icon" placeholder=" 解绑结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"> -->
<!-- 					</div> -->
<!-- 					<div class="pull-right"> -->
<!-- 						<button ng-click="getBindInfo()" class="btn btn-default"><i class="fa fa-search"></i></button> -->
<!-- 					</div> -->
	              	
	              </form>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding" ng-controller="bindCtrl" style="height: 410px">
              <table class="table table-hover table1" style="text-align: center;">
                <tr>
                  <th style="border-top: 1px solid #794747"></th>
                  <th style="border-top: 1px solid #794747;text-align: center;">序号</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">设备编号</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">车架号</th>
                  <th style="border-top: 1px solid #794747;text-align: center;width: 150px">绑定时间</th>
                  <th style="border-top: 1px solid #794747;text-align: center;width: 150px">解绑时间</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">类型</th>
<!--                   <th></th> -->
<!--                   <th>操作</th> -->
                </tr>
                <tr ng-repeat="bind in binds">
                	<td>{{(indexPage-1)*10+$index+1}}</td>
                	<td ng-bind="bind.id"></td>
<!--                 	<td><input ng-model="user.userName" readonly class="inactive input{{user.userName}}"></td> -->
<!--                 	<td>{{x.id}}</td> -->
<!--                 	<td>{{x.name}}</td> -->
<!--                 	<td><input readonly ng-model="user.password" class="inactive input{{user.userName}}"></td> -->
<!--                 	<td><input readonly ng-model="bind.equipmentNum" class="inactive input{{bind.id}}"></td> -->
                	<td ng-bind="bind.equipmentNum"></td>
<!--                 	<td>{{x.age}}</td> -->
<!--                 	<td><input readonly ng-model="bind.frameNum" class="inactive input{{bind.id}}"></td> -->
                	<td ng-bind="bind.frameNum"></td>
<!--                 	<td>{{x.gender}}</td> -->
<!--                 	<td><input readonly ng-model="bind.bindType" class="inactive input{{bind.id}}"></td> -->
<!--                 	<td><button ng-bind="bind.bindType" ng-class="{'绑定':'status-button btn btn-xs btn-danger','解绑':'status-button btn btn-xs btn-success'}[bind.bindType]"></button></td> -->
					
<!--                 	<td>{{x.telnum}}</td> -->
<!--                 	<td><input readonly ng-model="bind.bindTimeStr" class="inactive input{{bind.id}}"></td> -->
                	<td ng-bind="bind.bindTimeStr"></td>
<!--                 	<td>{{x.other}}</td> -->
<!-- 					<td><input readonly ng-model="bind.unbindTimeStr" class="inactive input{{bind.id}}"></td> -->
					<td ng-bind="bind.unbindTimeStr"></td>
<!-- 					<td> -->
<!-- 						<button class="btn btn-primary" ng-show="!isShow" ng-click="updateUser($index)"><span class="glyphicon glyphicon-pencil">编辑</span></button> -->
<!-- 						<button class="btn btn-success" ng-show="isShow" ng-click="saveUser($index)"><span>保存</span></button> -->
<!-- 						<button class="btn btn-warning" ng-show="isShow" ng-click="cancelUser($index)"><span>取消</span></button> -->
<!-- 						<button class="btn btn-danger" ng-show="!isShow" ng-click="deleteUser($index)"><span>删除</span></button> -->
<!-- 					</td> -->
<!--                 	<td> -->
<!-- 				        <bindedit class="btn btn-danger" ng-model="bind" ng-show="true"> -->
<!-- 				        	<span class="glyphicon glyphicon-pencil">解绑</span> -->
<!-- 				        </bindedit> -->
<!-- 				    </td> -->
					<td ng-bind="bind.bindType" ng-class="{'绑定':'red','解绑':'green'}[bind.bindType]"></td>
                </tr>
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>219</td> -->
<!--                   <td>Alexander Pierce</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-warning">Pending</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>657</td> -->
<!--                   <td>Bob Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-primary">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>175</td> -->
<!--                   <td>Mike Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-danger">Denied</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
              </table>
              
              
              
            </div>
            
             <div class="box-tools pull-left" style="font-family:'黑体'">
            	<span class="pagination pagination-sm inline">总数:{{count}}</span>
            	
            </div>
<!--             <div class="box-tools pull-right"> -->
<!--             	<ul class="pagination pagination-sm inline"><li><a ng-click="getBindInfoOfPage(1)">&laquo;</a></li></ul> -->
<!--                 <ul class="pagination pagination-sm inline" ng-repeat="page in pages"> -->
<!-- 					<li><a ng-click="getBindInfoOfPage($index+1)">{{$index+1}}</a></li> -->
<!--                 </ul> -->
<!--                 <ul class="pagination pagination-sm inline"><li><a ng-click="getBindInfoOfPage(lastPage)">&raquo;</a></li></ul> -->
<!--               </div> -->
			<div class="box-tools pull-right">
				<div id="Pagination"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
