<div  ng-controller="iBeaconMapCtrl">
<!-- 	<section class="content-header"> -->
<!-- 	<h1>map</h1> -->
<!-- 	</section> -->
	<section class="content">
	 <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header" style="background-color: #ccc">
<!--               <h3 class="box-title">iBeacon位置查找</h3> -->
              <b style="font-size: 20px">iBeacon位置查找</b>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 300px;">
                  <input ng-model="map.uuid" type="text" name="table_search" class="form-control pull-right" placeholder="输入iBeacon编号">

                  <div class="input-group-btn">
                    <button ng-click="getIbeaconPosition()" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
<!--             <div id="leafletMap" class="box-body table-responsive no-padding" ng-controller="mapCtrl"> -->
				<div id="ibeaconLeafletMap" style="width:100%;height:550px">
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
