<section class="content-header">
      <h1>
        	用户管理
<!--         <small>preview of simple tables</small> -->
      </h1>
<!--       <ol class="breadcrumb"> -->
<!--         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
<!--         <li><a href="#">Tables</a></li> -->
<!--         <li class="active">Simple</li> -->
<!--       </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
<!--       <div class="row"> -->
<!--         <div class="col-md-6"> -->
<!--           <div class="box"> -->
<!--             <div class="box-header with-border"> -->
<!--               <h3 class="box-title">Bordered Table</h3> -->
<!--             </div> -->
<!--             /.box-header -->
<!--             <div class="box-body"> -->
<!--               <table class="table table-bordered"> -->
<!--                 <tr> -->
<!--                   <th style="width: 10px">#</th> -->
<!--                   <th>Task</th> -->
<!--                   <th>Progress</th> -->
<!--                   <th style="width: 40px">Label</th> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>1.</td> -->
<!--                   <td>Update software</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-danger" style="width: 55%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-red">55%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>2.</td> -->
<!--                   <td>Clean database</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-yellow" style="width: 70%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-yellow">70%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>3.</td> -->
<!--                   <td>Cron job running</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-primary" style="width: 30%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-light-blue">30%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>4.</td> -->
<!--                   <td>Fix and squish bugs</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-success" style="width: 90%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-green">90%</span></td> -->
<!--                 </tr> -->
<!--               </table> -->
<!--             </div> -->
<!--             /.box-body -->
<!--             <div class="box-footer clearfix"> -->
<!--               <ul class="pagination pagination-sm no-margin pull-right"> -->
<!--                 <li><a href="#">&laquo;</a></li> -->
<!--                 <li><a href="#">1</a></li> -->
<!--                 <li><a href="#">2</a></li> -->
<!--                 <li><a href="#">3</a></li> -->
<!--                 <li><a href="#">&raquo;</a></li> -->
<!--               </ul> -->
<!--             </div> -->
<!--           </div> -->
<!--           /.box -->

<!--           <div class="box"> -->
<!--             <div class="box-header"> -->
<!--               <h3 class="box-title">Condensed Full Width Table</h3> -->
<!--             </div> -->
<!--             /.box-header -->
<!--             <div class="box-body no-padding"> -->
<!--               <table class="table table-condensed"> -->
<!--                 <tr> -->
<!--                   <th style="width: 10px">#</th> -->
<!--                   <th>Task</th> -->
<!--                   <th>Progress</th> -->
<!--                   <th style="width: 40px">Label</th> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>1.</td> -->
<!--                   <td>Update software</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-danger" style="width: 55%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-red">55%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>2.</td> -->
<!--                   <td>Clean database</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-yellow" style="width: 70%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-yellow">70%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>3.</td> -->
<!--                   <td>Cron job running</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-primary" style="width: 30%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-light-blue">30%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>4.</td> -->
<!--                   <td>Fix and squish bugs</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-success" style="width: 90%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-green">90%</span></td> -->
<!--                 </tr> -->
<!--               </table> -->
<!--             </div> -->
<!--             /.box-body -->
<!--           </div> -->
<!--           /.box -->
<!--         </div> -->
<!--         /.col -->
<!--         <div class="col-md-6"> -->
<!--           <div class="box"> -->
<!--             <div class="box-header"> -->
<!--               <h3 class="box-title">Simple Full Width Table</h3> -->

<!--               <div class="box-tools"> -->
<!--                 <ul class="pagination pagination-sm no-margin pull-right"> -->
<!--                   <li><a href="#">&laquo;</a></li> -->
<!--                   <li><a href="#">1</a></li> -->
<!--                   <li><a href="#">2</a></li> -->
<!--                   <li><a href="#">3</a></li> -->
<!--                   <li><a href="#">&raquo;</a></li> -->
<!--                 </ul> -->
<!--               </div> -->
<!--             </div> -->
<!--             /.box-header -->
<!--             <div class="box-body no-padding"> -->
<!--               <table class="table"> -->
<!--                 <tr> -->
<!--                   <th style="width: 10px">#</th> -->
<!--                   <th>Task</th> -->
<!--                   <th>Progress</th> -->
<!--                   <th style="width: 40px">Label</th> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>1.</td> -->
<!--                   <td>Update software</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-danger" style="width: 55%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-red">55%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>2.</td> -->
<!--                   <td>Clean database</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-yellow" style="width: 70%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-yellow">70%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>3.</td> -->
<!--                   <td>Cron job running</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-primary" style="width: 30%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-light-blue">30%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>4.</td> -->
<!--                   <td>Fix and squish bugs</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-success" style="width: 90%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-green">90%</span></td> -->
<!--                 </tr> -->
<!--               </table> -->
<!--             </div> -->
<!--             /.box-body -->
<!--           </div> -->
<!--           /.box -->

<!--           <div class="box"> -->
<!--             <div class="box-header"> -->
<!--               <h3 class="box-title">Striped Full Width Table</h3> -->
<!--             </div> -->
<!--             /.box-header -->
<!--             <div class="box-body no-padding"> -->
<!--               <table class="table table-striped"> -->
<!--                 <tr> -->
<!--                   <th style="width: 10px">#</th> -->
<!--                   <th>Task</th> -->
<!--                   <th>Progress</th> -->
<!--                   <th style="width: 40px">Label</th> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>1.</td> -->
<!--                   <td>Update software</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-danger" style="width: 55%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-red">55%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>2.</td> -->
<!--                   <td>Clean database</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs"> -->
<!--                       <div class="progress-bar progress-bar-yellow" style="width: 70%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-yellow">70%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>3.</td> -->
<!--                   <td>Cron job running</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-primary" style="width: 30%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-light-blue">30%</span></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>4.</td> -->
<!--                   <td>Fix and squish bugs</td> -->
<!--                   <td> -->
<!--                     <div class="progress progress-xs progress-striped active"> -->
<!--                       <div class="progress-bar progress-bar-success" style="width: 90%"></div> -->
<!--                     </div> -->
<!--                   </td> -->
<!--                   <td><span class="badge bg-green">90%</span></td> -->
<!--                 </tr> -->
<!--               </table> -->
<!--             </div> -->
<!--             /.box-body -->
<!--           </div> -->
<!--           /.box -->
<!--         </div> -->
<!--         /.col -->
<!--       </div> -->
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
<!--               <h3 class="box-title">用户信息</h3>&nbsp;&nbsp;&nbsp;&nbsp; -->
              <a ui-sref="adduser" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 添加</a>
              <br/>
              <p/>

              <div class="box-tools" style="padding-top: 8px">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" ng-model="user.userName" name="table_search" class="form-control pull-right" placeholder="用户名">

                  <div class="input-group-btn">
                    <button ng-click="getUserInfo()" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding" ng-controller="userCtrl">
              <table class="table table-hover" style="text-align: center;">
                <tr>
                  <th style="border-top: 1px solid #794747"></th>
                  <th style="border-top: 1px solid #794747;text-align: center;">用户名</th>
<!--                   <th style="border-top: 1px solid #794747;text-align: center;">密码</th> -->
                  <th style="border-top: 1px solid #794747;text-align: center;">手机号码</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">邮箱</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">创建时间</th>
                  <th style="border-top: 1px solid #794747;text-align: center;">角色</th>
                  <th style="border-top: 1px solid #794747"></th>
<!--                   <th>操作</th> -->
                </tr>
                <tr ng-repeat="user in users">
                	<td style="padding: 4px">{{(indexPage-1)*10+$index+1}}</td>
                	<td style="padding: 4px" ng-bind="user.userName"><p ng-model="user.userName"></p></td>
<!--                 	<td><input ng-model="user.userName" readonly class="inactive input{{user.userName}}"></td> -->
<!--                 	<td>{{x.id}}</td> -->
<!--                 	<td>{{x.name}}</td> -->
<!--                 	<td><input readonly ng-model="user.password" class="inactive input{{user.userName}}"></td> -->
<!--                 	<td style="padding: 4px" ng-bind="user.password"></td> -->
<!--                 	<td>{{x.age}}</td> -->
                	<td style="padding: 4px"><input style="text-align: center;" readonly ng-model="user.phoneNum" class="inactive input{{user.userName}}"></td>
<!--                 	<td>{{x.gender}}</td> -->
                	<td style="padding: 4px"><input style="text-align: center;" readonly ng-model="user.email" class="inactive input{{user.userName}}"></td>
<!--                 	<td>{{x.telnum}}</td> -->
                	<td style="padding: 4px"><input style="text-align: center;" readonly ng-model="user.createTimeStr" class="inactive input{{user.userName}}"></td>
<!--                 	<td>{{x.other}}</td> -->
<!-- 					<td style="padding: 4px"><input style="width: 60px;text-align: center;" readonly ng-model="user.role" class="inactive input{{user.userName}}"></td> -->
					<td>
						<select ng-model="user.role"  ng-options="x for x in ['op','admin']" class="inactive select{{user.userName}} userselect" disabled>
						</select>
					</td>
<!-- 					<td> -->
<!-- 						<button class="btn btn-primary" ng-show="!isShow" ng-click="updateUser($index)"><span class="glyphicon glyphicon-pencil">编辑</span></button> -->
<!-- 						<button class="btn btn-success" ng-show="isShow" ng-click="saveUser($index)"><span>保存</span></button> -->
<!-- 						<button class="btn btn-warning" ng-show="isShow" ng-click="cancelUser($index)"><span>取消</span></button> -->
<!-- 						<button class="btn btn-danger" ng-show="!isShow" ng-click="deleteUser($index)"><span>删除</span></button> -->
<!-- 					</td> -->
                	<td style="padding: 4px">
<!--                 		<button class="btn" ng-click=""> -->
<!-- 				          <span class="glyphicon glyphicon-pencil"></span>编辑 -->
<!-- 				        </button> -->
				        <useredit class="btn btn-primary" ng-model="user" ng-show="!isShow">
				        	<span class="glyphicon glyphicon-pencil">编辑</span>
				        </useredit>
				        <userupdate class="btn btn-success" ng-show="isShow" ng-model="user">
				        	<span class="glyphicon glyphicon-pencil">保存</span>
				        </userupdate>
				        <usercancel class="btn btn-warning" ng-show="isShow" ng-model="user">
				        	<span class="glyphicon glyphicon-remove">取消</span>
				        </usercancel>
				        <userdelete class="btn btn-danger" ng-model="user" ng-show="!isShow">
				        	<span class="glyphicon glyphicon-trash">删除</span>
				        </userdelete>
				    </td>
                </tr>
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>183</td> -->
<!--                   <td>John Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-success">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>219</td> -->
<!--                   <td>Alexander Pierce</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-warning">Pending</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>657</td> -->
<!--                   <td>Bob Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-primary">Approved</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                   <td>175</td> -->
<!--                   <td>Mike Doe</td> -->
<!--                   <td>11-7-2014</td> -->
<!--                   <td><span class="label label-danger">Denied</span></td> -->
<!--                   <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
<!--                 </tr> -->
              </table>
              
              
              
            </div>
            
             <div class="box-tools pull-left" style="font-family:'黑体'">
            	<span class="pagination pagination-sm inline">总数:{{count}}</span>
            	
            </div>
<!--             <div class="box-tools pull-right"> -->
<!--             	<ul class="pagination pagination-sm inline"><li><a ng-click="getUserInfoOfPage(1)">&laquo;</a></li></ul> -->
<!--                 <ul class="pagination pagination-sm inline" ng-repeat="page in pages"> -->
<!-- 					<li><a ng-click="getUserInfoOfPage($index+1)">{{$index+1}}</a></li> -->
<!--                 </ul> -->
<!--                 <ul class="pagination pagination-sm inline"><li><a ng-click="getUserInfoOfPage(lastPage)">&raquo;</a></li></ul> -->
<!--               </div> -->

			<div class="box-tools pull-right">
				<div id="Pagination"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
